@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
}
@keyframes scan {
  0% { transform: translateY(-100%); }
  50% { transform: translateY(100vh); }
  100% { transform: translateY(-100%); }
}

@keyframes shimmer {
  100% { transform: translateX(100%); }
}
